*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing:grayscale;
}

:root{
--background:#eef5ff;
--card-color:#fff;
--color-button:#8257e5;
--color-title: #8257e5;
--color-text-1: #333234;
--color-text-2:#fff;
--color-card:#fff;
--color-hover:#8257e5;
--border-radius:0.5rem;
font-size: 62.5%;
}

body{
font-family: 'Roboto', sans-serif;
font-size: 1.6rem;
background: var(--background);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2.4rem;
  margin-top: 2rem;
}

ul{
  display: flex;
  list-style: none;
  gap: 4rem;
}

ul li a{
  text-decoration: none;
  color: var(--color-text-1);
  transition: ease-in-out 0.3s;
}

ul li a:hover{
color: var(--color-hover);
}

.button-login{
 color: var(--color-text-1); 
 text-decoration: none;
}

.button-login:hover{
  color: var(--color-hover);
}

.button-contacto{
  display: inline;
  align-items: center;
  justify-content: center;
  background: var(--color-button);
  padding: 1rem 1.8rem;
  border-radius: var(--border-radius);
  color: var(--color-text-2);
  text-decoration: none;
}